.addWindow{
    position: absolute;
    transform: translate(540px, -230px);
    border: 2px solid black;
    box-shadow: 0 0 20px 1000px rgb(0, 0, 0, 0.5);
    text-align: center;
    padding: 40px 60px;
    background-color: white;
}
.addWindow-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.addWindow h1{
    margin-bottom: 35px;
}
.addWindow button{
    width: 100%;
}