.single-input{
    padding: 15px 15px;
    font-size: 2rem;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 4px;
}
.hovered{
    border-color: black;
}
.single-input:focus{
    outline: 1px solid rgb(25, 118, 210);
    border-color: rgb(25, 118, 210);
}